secrets.y*ml
fitbit.conf
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db*
html5_push_registrations.conf
*.pyc
nest.conf
phue.conf
plex.conf
.uuid
.HA_VERSION
*.bak
config.tar.gz
known_devices.yaml
.idea/
node_modules/
.config_entries.json
entity_registry.yaml
deps/
google_calendars.yaml
.storage/
.google.token
.env
.homekit.state
.spotify-token-cache
.ps4-games.json
package-lock.json
tts/
.DS_Store
camera-latest.mp4
custom_components/hacs
backups/
google_service_account.json