secrets.y*ml
fitbit.conf
home-assistant.log
home-assistant_v2.db
html5_push_registrations.conf
*.pyc
nest.conf
phue.conf
plex.conf
.uuid
.HA_VERSION
*.mp3
*.bak
config.tar.gz
known_devices.yaml
.idea/
node_modules/
