version: '3'
services:
  homeassistant:
    depends_on: 
      - mosquitto
      - db
    container_name: home-assistant
    image: homeassistant/home-assistant:latest
    ports:
      - 8123:8123
    volumes:
      - /home/steve/repos/home-assistant:/config
      - /etc/localtime:/etc/localtime:ro
      - /home/steve/repos/home-assistant/resources:/local
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8123"]
      interval: 1m30s
      timeout: 10s
      retries: 3        
    labels:
      - "traefik.enable=false"
      - "traefik.frontend.rule=Host:$HA_HOSTNAME"
      - "traefik.port=8123"
    logging:
      driver: "json-file"
      options:
          max-size: "100k"
          max-file: "20"
    network_mode: host

  autoheal:
    depends_on: 
      - homeassistant
    restart: always
    image: willfarrell/autoheal
    environment:
      - AUTOHEAL_CONTAINER_LABEL=all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  mosquitto:
    restart: always
    ports:
      - '1883:1883'
      - '9002:9001'
    image: toke/mosquitto
    volumes:
      - 'mosquitto_data:/mqtt/data'

  db:
    image: mariadb
    restart: always
    env_file: .env
    ports:
      - 3306:3306
    volumes:
      - 'mysql_data:/var/lib/mysql'
      - 'db:/etc/mysql/conf.d'

volumes:
  mosquitto_data:
  mysql_data:

